<?php

use Laminas\ConfigAggregator\ConfigAggregator;
use Laminas\ConfigAggregator\ArrayProvider;
use LaminasAdminLTE\ThemeOptions\LayoutOption;
use LaminasAdminLTE\ThemeOptions\PluginOption;
use LaminasAdminLTE\ThemeOptions\ColorOption;

$config = [
    'laminas_adminlte' => [
        
        /*
          |--------------------------------------------------------------------------
          | Title
          |--------------------------------------------------------------------------
          | Here you can change the default title of your admin panel.
         */
        'default_title' => 'AdminLTE 3',
        'title_prefix' => '',
        'title_postfix' => ' - Laminas AdminLTE Integration',
        
        /*
          |--------------------------------------------------------------------------
          | Favicon
          |--------------------------------------------------------------------------
          | Here you can activate the favicon.
         */
        'use_favicon' => true,
        'favicons' => [
            [
                'type' => 'image/vnd.microsoft.icon',
                'location' => 'favicons/favicon.ico',
                'rel' => 'shortcut icon',
                'sizes' => '48x48'
            ],
        ],
        
        /*
          |--------------------------------------------------------------------------
          | Logo
          |--------------------------------------------------------------------------
          | Here you can change the logo of your admin panel.
         */
        'logo' => 'Laminas-AdminLTE3',
        'logo_img' => 'dist/img/AdminLTELogo.png',
        'logo_img_class' => 'brand-image img-circle elevation-3',
        'logo_img_alt' => 'Laminas-AdminLTE3',
        
        /*
          |--------------------------------------------------------------------------
          | User Menu
          |--------------------------------------------------------------------------
          | Here you can activate and change the user menu.
         */
        'usermenu_enabled' => true,
        'usermenu_header_class' => ColorOption::$bgLightblue,
        'usermenu_profile_route' => NULL,
        'usermenu_logout_route' => NULL,
        
        /*
          |--------------------------------------------------------------------------
          | Layout
          |--------------------------------------------------------------------------
          | Here we change the layout of your admin panel.
          | ['xs' => true, 'md' => false, 'xl' => true]
         */
        'layout_topnav' => null,
        'layout_topnav_with_sidebar' => true,
        'layout_boxed' => null,
        'layout_fixed_sidebar' => null,
        'layout_fixed_navbar' => null,
        'layout_fixed_footer' => null,
        
        /*
          |--------------------------------------------------------------------------
          | Admin Panel Classes
          |--------------------------------------------------------------------------
          | Here you can change the look and behavior of the admin panel.
         */
        'classes_body' => '',
        'classes_brand' => '',
        'classes_brand_text' => 'font-weight-light',
        'classes_content_header' => '',
        'classes_content_wrapper' => '',
        'classes_content' => '',
        'classes_sidebar' => 'sidebar-dark-primary elevation-4',
        'classes_topnav' => 'navbar-white navbar-light navbar-expand-md',
        'classes_topnav_container' => 'container',
        'classes_breadcrumb' => 'float-sm-right text-sm',
        
        /*
          |--------------------------------------------------------------------------
          | Sidebar
          |--------------------------------------------------------------------------
          | Here we can modify the sidebar of the admin panel.
         */
        'sidebar_mini' => false,
        'sidebar_collapse' => true,
        
        /*
          |--------------------------------------------------------------------------
          | Control Sidebar (Right Sidebar)
          |--------------------------------------------------------------------------
          | Here we can modify the right sidebar aka control sidebar of the admin panel.
         */
        'right_sidebar' => true,
        'right_sidebar_icon' => 'fas fa-cogs',
        'right_sidebar_theme' => 'dark',
        
        /**
         * Set true to display control sidebar
         */
        'showControl' => true,
        
        /**
         * Set true to display search field in navigation bar
         */
        'showSearch' => true,
        
        /**
         * Set true to display breadcrumb
         */
        'showBreadcrumb' => false,
        
        /**
         * This module uses laminas/laminas-navigation to generate top and sidebar menu.
         * 'topNavigationKey' is used select navigation for top bar
         * 'laminas-adminlte-examples-navigation' is for example navigation
         */
        'topNavigationKey' => 'laminas-adminlte-examples-navigation',
        
        /**
         * This module uses laminas/laminas-navigation to generate top menu and sidebar menu.
         * 'sidebarNavigationKey' is used select navigation for side bar menu
         */
        'sidebarNavigationKey' => 'laminas-adminlte-examples-navigation',
        
        /**
         * This module uses laminas/laminas-navigation to generate breadcrumbs.
         * 'navigationKeyForBreadcrumb' is used select navigation for breadcrumbs
         */
        'navigationKeyForBreadcrumb' => 'laminas-adminlte-examples-navigation',
        
        /**
         * List of plugins. To add new plugins use the following format
         * 'pluginname' => [
         *       'active' => true, set true to enable the plugin
         *       'files' => [
         *           [
         *               'type' => 'js',
         *               'isFromCDN' => false, //if set true location is treated as URL ie src = 'location', if not src = '$this->basePath('location')' is used;
         *               'isInlineScript' => true, //if true includes script at the last, else put script in <head>
         *               'location' => 'plugins/myscript.js',
         *           ],
         *           [
         *               'type' => 'css',
         *               'isFromCDN' => true,
         *               'location' => 'plugins/mystyle.css',
         *           ],
         *       ],
         * ];
         * A number of plugins are already configured. To enable them just set active = true.
         * To change default scripts and styles used the format described above
         */
        'plugins' => [
            \LaminasAdminLTE\ThemeOptions\PluginOption::$datatables => [
                'active' => true
            ],
        ],
        
        /**
         * Generates <meta {type} = {key} content = {content}> in DOM. Example
         * [
         *      'type' => 'http-equiv',
         *      'key' => 'X-UA-Compatible',
         *      'content' => 'IE=edge'
         * ] generates <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
         */
        'meta' => [

        ],
        
        /**
         * If your custom layout requires a specific plugin then you can either
         * enable the plugin after changing layout or
         * use this option. This method is useful if layout is changed by the 
         * application during execution such as different layout for different use roles
         */
        'layout_plugins' => [//plugins required for a specific layout
            LayoutOption::$sidebar => [
                PluginOption::$overlayScrollbars,
            ],
            LayoutOption::$topNavigation => [
                PluginOption::$overlayScrollbars,
            ],
        ],
    ],
];

$skin = [
    'laminas_adminlte' => \LaminasAdminLTE\Config\LayoutConfig::getDarkLightblueConfig()
];

$configAggregator = new ConfigAggregator([new ArrayProvider($config), new ArrayProvider($skin)]);

return $configAggregator->getMergedConfig();