<?php

use LaminasAdminLTE\ThemeOptions\LayoutOption;
use LaminasAdminLTE\ThemeOptions\PluginOption;
use LaminasAdminLTE\ThemeOptions\AccentColorOption;
use LaminasAdminLTE\ThemeOptions\NavbarDarkSkinOption;
use LaminasAdminLTE\ThemeOptions\NavbarLightSkinOption;
use LaminasAdminLTE\ThemeOptions\SidebarSkinOption;
use LaminasAdminLTE\ThemeOptions\ColorOption;

return [
    'laminas_adminlte' => [
        /**
         * Favicon of your application
         * url relative to basepth
         */
        'favicon' => 'img/favicon.ico',
        
        /**
         * Bramd logo of your application
         * url relative to basepth
         */
        'brandLogo' => 'dist/img/AdminLTELogo.png',
        
        /**
         * Full brand name of your organization
         */
        'brandNameF' => 'AdminLTE3 - Laminas MVC Framework Integration',
        
        /**
         * Short brand name of your organization
         */
        'brandNameS' => 'Laminas-AdminLTE3',
        
        /**
         * Set true to display control sidebar
         */
        'showControl' => true,
        
        /**
         * Set true to display search field in navigation bar
         */
        'showSearch' => true,
        
        /**
         * Set true to display breadcrumb
         */
        'showBreadcrumb' => false,
        
        /**
         * Choose a layout for your application
         */
        'layout' => LayoutOption::$topNavigation,
        
        /**
         * This module uses laminas/laminas-navigation to generate top and sidebar menu.
         * 'topNavigationKey' is used select navigation for top bar
         * 'laminas-adminlte-examples-navigation' is for example navigation
         */
        'topNavigationKey' => 'laminas-adminlte-examples-navigation',
        
        /**
         * This module uses laminas/laminas-navigation to generate top menu and sidebar menu.
         * 'sidebarNavigationKey' is used select navigation for side bar menu
         */
        'sidebarNavigationKey' => 'laminas-adminlte-examples-navigation',
        
        /**
         * This module uses laminas/laminas-navigation to generate breadcrumbs.
         * 'navigationKeyForBreadcrumb' is used select navigation for breadcrumbs
         */
        'navigationKeyForBreadcrumb' => 'laminas-adminlte-examples-navigation',
        
        /**
         * List of plugins. To add new plugins use the following format
         * 'pluginname' => [
         *       'active' => true, set true to enable the plugin
         *       'files' => [
         *           [
         *               'type' => 'js',
         *               'isFromCDN' => false, //if set true location is treated as URL ie src = 'location', if not src = '$this->basePath('location')' is used;
         *               'isInlineScript' => true, //if true includes script at the last, else put script in <head>
         *               'location' => 'plugins/myscript.js',
         *           ],
         *           [
         *               'type' => 'css',
         *               'isFromCDN' => true,
         *               'location' => 'plugins/mystyle.css',
         *           ],
         *       ],
         * ];
         * A number of plugins are already configured. To enable them just set active = true.
         * To change default scripts and styles used the format described above
         */
        'plugins' => [
            \LaminasAdminLTE\ThemeOptions\PluginOption::$datatables => [
                'active' => true
            ],
        ],
        
        /**
         * Setting for accent color
         */
        'accentColor' => AccentColorOption::$accentLightblue,
        
        /**
         * Setting for top navigation bar skin 
         */
        'topNavbarSkin' => NavbarDarkSkinOption::$navbarLightblue,
        
        /**Setting for sidebar skin
         * 
         */
        'sidebarSkin' => SidebarSkinOption::$sidebarDarkLightblue,
        
        /**
         * Setting for brand logo skin
         */
        'brandLinkColor' => ColorOption::$bgLightblue,
        
        /**
         * Generates <meta {type} = {key} content = {content}> in DOM. Example
         * [
         *      'type' => 'http-equiv',
         *      'key' => 'X-UA-Compatible',
         *      'content' => 'IE=edge'
         * ] generates <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
         */
        'meta' => [

        ],
        
        /**
         * If your custom layout requires a specific plugin then you can either
         * enable the plugin after changing layout or
         * use this option. This method is useful if layout is changed by the 
         * application during execution such as different layout for different use roles
         */
        'layout_plugins' => [//plugins required for a specific layout
            LayoutOption::$fixedSidebar => [
                PluginOption::$overlayScrollbars,
                PluginOption::$datatables,
            ],
        ],
    ],
];
